html,
body {
	height: 100%; /* The html and body elements cannot have any padding or margin. */
	}

/* MARKETING CONTENT (from carousel.css)
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}
.marketing h2 {
	font-weight: normal;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	text-align: center;
	margin-bottom: 0;
}
.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}
.marketing .col-lg-4 p.min-height {
	height:	7em;
}
.marketing .col-lg-4 .img-thumbnail {
	xxx-width: 220px;
	xxx-height: 140px;
	width: 100%;
	height: auto;
}
.thumbnail, .img-thumbnail {
	box-shadow: 0 1px 3px #555;
}

/* AUTHOR'S CUSTOM STYLES
-------------------------------------------------- */

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }
      /* Set the fixed height of the footer here */
      #footer {
        height: 40px;
        color: #999;
        background-color: #222;
		background-image: linear-gradient(to bottom, #3C3C3C 0px, #222222 100%);
		background-repeat: repeat-x;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      
body {
	background-color: #fdf9f3; /* http://www.color-hex.com/color/faebd7 */
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
b,
dt,
label,
strong {
	font-weight: 600;
}
#mainCarousel a,
#mainCarouselTest a {
	outline: 0; /* remove dotted line at right when clicking on next slide button */
}
#mainCarousel .carousel {
	xxx-margin-top: 30px;
	xxx-margin-bottom: 30px;
	margin-top: 50px;
}
#mainCarousel .carousel,
#mainCarousel .carousel .item,
#mainCarousel .carousel-inner > .item > img {
	xxx-height: 300px;
	height: auto;
	width: 100%;
	min-width: 100%;
}

.carousel-caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	bottom: 60px;
}

.featurette-divider {
	margin: 20px 0;
}
.featurette-heading {
	font-size: 40px;
}
hr.featurette-divider {
	border-color: #e1d3c1 -moz-use-text-color -moz-use-text-color;
}
#loginModal .modal-header {
	background-color: #008;
	color: #fff;
}
#loginModal .close {
	color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #fff;
	background-color: #428BCA;
	background-image: none;
}
.container .credit {
	margin-top: 5px;
}
.thumbnail-spacer img {
	margin-top: 4px;
	margin-bottom: 4px;
}
@media (max-width: 1200px) {
	.marketing .row p.min-height {
		height:	auto;
	}
}

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .container .credit {
        margin: 10px 0;
      }
